html, body {
	width: 100%;
	margin: 0;
	background: #E7E9EE;
	font-family: 'Helvetica Neue', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    background: url(../img/chart.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
#logo {
	color: #E3285A;
	text-align: center;
	font-size: 80px;
	font-weight: 600;
	margin-bottom: 10px;

}
#tagline {
	font-family: 'Helvetica Neue', sans-serif;
	text-align: center;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: 200;
}
#field {
	width: 600px;
	height: 40px;
	font-size: 20px;
	border: none;
	border-radius: 4px;
	padding: 5px;
	font-family: 'Helvetica Neue', sans-serif;
}
#submit_wrapper {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}
#submit {
	width: 120px;
	height: 40px;
	border: none;
	color: #E7E9EE;
	background: #31193A;
	text-align: center;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;

	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 200;

	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
	transition:.2s;
}
#submit:hover {
	background: #E7E9EE;
	color: #31193A;
	border: 2px solid #31193A;
	cursor: pointer;

	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
	transition:.2s;
}
/*****SEARCH RESULTS*****/
#search_bar {
	width: 100%;
	height: 60px;
	text-align: center;
	background: #fff;
	line-height: 60px;
}
#result_wrapper {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
#main_wrapper{
	width: 100%;
	margin: 0 auto;
}
.row{
	text-align: center;
}
.breaks{
	width: 15%;
	background-color: #E3285A;
	height: 1px;
	border: 0;
}
.left {
	width: 100px;
	float: left;
}
.image {
	width: 100%;
}
.right {
	width: calc(100% - 100px);
	float: left;
}
.name {
	color: #E3285A;
	font-weight: 600;
	font-size: 18px;
	padding-left: 10px;
}
.address {
	color: #E3285A;
	padding-left: 10px;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 10px;
}
.phone {
	padding-left: 10px;
	color: #E7E9EE;
	font-weight: 300;
}
footer {
		width: 100%;
		height: 40px;
		position: absolute;
		left: 0px;
		top: 0px;
		text-align: center;
		font-size: 20px;
		font-weight: 200;
		line-height: 40px;
}
@media screen and (max-width: 601px){
	.breaks{
		width: 100%;
		overflow: hidden;
	}
}